doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="a portable markdown editor with an on-the-fly preview.")
		title marqdown

	body
		include ../built_temp/body.html
