doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title marqdown

	body(id="app" data-al-ctrl="marqdown")
		include ../built_temp/body.html